$padding-main: 15;
$maxWidthContainer: 1074 + $padding-main + $padding-main;

//Fonts
$font-size-main: 16;
$font-family-main: "HarmonyOS Sans", sans-serif;
$font-weight-main: 400;

// Colors
$white: #ffffff;
$black: #303345;
$secondary: #6b6d80;
$background-block: #f7f9fb;
$border: #e1e8f1;